<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!--
       Required only when requesting background location access on
       Android 10 (API level 29) and higher.
    -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".di.application.BaseApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:requestRawExternalStorageAccess="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trooute"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.auth.UpdatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.wishlist.WishListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.general.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.general.TermsAndConditionsActivity"
            android:exported="false" />

        <service
            android:name=".service.FCMService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_selected" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary_color" />

        <activity
            android:name=".presentation.ui.main.MakePaymentActivity"
            android:exported="false"
            android:label="@string/title_activity_make_payment"
            android:theme="@style/Theme.Trooute" />
        <activity
            android:name=".presentation.ui.general.FrequentlyAskedQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.auth.YourProfileActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.trip.TripDetailCompletedActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.trip.TripsHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.trip.SetUpYourTripActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".presentation.ui.chat.MessageActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".presentation.ui.review.ReviewsActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".presentation.ui.main.SuccessActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".presentation.ui.main.BecomeDriverActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".presentation.ui.booking.BookingDetailActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".presentation.ui.booking.BookingConfirmedActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.ui.booking.ConfirmBookingActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.ui.booking.BookNowActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.ui.trip.TripDetailActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.ui.trip.SearchForTripsActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".presentation.ui.auth.ResetPasswordActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".presentation.ui.auth.AuthVerificationActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".presentation.ui.auth.SignInActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".presentation.ui.auth.SignUpActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".presentation.ui.onboarding.OnBoardingScreenActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".presentation.ui.onboarding.SplashScreenActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>